body{
    background-color: black;
    color: white;
}

header{
    text-align: center;
}

#backgroundimg{

    background-image: url('https://c4.wallpaperflare.com/wallpaper/519/152/869/anime-berserk-manga-wallpaper-preview.jpg');
    background-size: cover;
        
    height: 100vh;
    padding:0;
    margin:0;
}

#img{
    border-radius: 25px;
}

#imgperfil{
    text-align: center;
    border-radius: 25%;
}

#txtperfil{
    margin-left: 10px;
    margin-right: 10px;
}

#perfil{
    background-color: rgb(0, 0, 0);
    text-align: left;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 600px;
    margin-left: 600px;
}

#biografia{
    margin-right: 20px;
    margin-left: 20px;
}

#trabalhos{
    margin-right: 20px;
    margin-left: 20px;
}

#homenagens{
    margin-right: 20px;
    margin-left: 20px;
}

#footer{
    text-align: center;
}